In [4]:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

In [27]:
data_keys = list([x.keys() for x in data][0])

In [86]:
#import json data
df = pd.read_json('laureates_dataset.json')

In [88]:
df.head(1)

,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,diedCountryCode,gender,prizes,diedCity
0,2,Hendrik Antoon,Lorentz,1853-07-18,1928-02-04,the Netherlands,NL,Arnhem,the Netherlands,NL,male,"[{'year': '1902', 'category': 'physics', 'shar...",NaN

In [58]:
# extract the dictionaries from the list in the prizes column
df = df.explode('prizes', ignore_index=True)

# split the dictionary items in prizes to separate columns and dataframe
prizes = df['prizes'].apply(pd.Series)

In [73]:
# create separate columns for the dictionary items in affilaitions and make into a new dataframe
# concatenate with the id from the prizes dataframe for future joins
prizes = pd.concat([df.id, prizes], axis=1).explode('affiliations', ignore_index=True)

# pass the dataframe to variable affiliations
affiliations = pd.concat([prizes.id, prizes['affiliations'].apply(lambda x: pd.Series(x, dtype = 'object'))], axis=1)

In [93]:
#drop columns that are present in new dataframes

df_updated = df.drop('prizes', axis=1)
prizes_updated = prizes.drop('affiliations', axis = 1)

### save df_updated, prizes and affiliations dataframes
df_updated.to_csv('laureates_df.csv', index=False)
prizes_updated.to_csv('prizes.csv', index=False)
affiliations.to_csv('affiliations', index = False)

In [96]:
df_updated.shape, prizes_updated.shape, affiliations.shape

((934, 12), (1005, 6), (1005, 4))